/*
https://juejin.im/entry/58b7ad418ac24766f5609206
*/

/*
margin为auto只能设置水平居中
*/

/*
css盒模型：
  IE盒模型：width属性包括padding和border的宽度
  w3c标准盒模型：width属性不包括padding和border的宽度
  box-sizing：用于更改计算元素的默认css盒模型。
    1.content-box:默认值
    2.border-box:
    3.padding-box:
*/

/*
重回和回流:
1.重绘是当节点需要更改外观而不会影响布局的，比如改变 color 就叫称为重绘
2.回流是布局或者几何属性需要改变就称为回流。
  回流必定会发生重绘，重绘不一定会引发回流。回流所需的成本比重绘高的多，改变深层次的节点很可能导致父节点的一系列回流
3.减少：
    使用 visibility 替换 display: none ，因为前者只会引起重绘，后者会引发回流
    把 DOM 离线后修改，比如：先把 DOM 给 display:none (有一次 Reflow)，然后你修改100次，然后再把它显示出来
    不要使用 table 布局，可能很小的一个小改动会造成整个 table 的重新布局
    CSS 选择符从右往左匹配查找，避免 DOM 深度过深
*/

/*
图层：
    一般来说，可以把普通文档流看成一个图层。特定的属性可以生成一个新的图层。不同的图层渲染互不影响，所以对于某些频繁需要渲染的建议单独生成一个新图层，提高性能。
    如何生成：
      3d变换: translate3d,translateZ
      position: fixed
      video、iframe标签
*/

/*
css动画：
1.transition：让元素从一种样式逐渐改变为另一种样式时的效果。
  实现过度效果，需要定义两项内容：把效果应该用到哪个css属性上；效果持续的时长；
  transition-property、transition-duration、transition-delay、
  transition-timing-function(liner,ease,ease-in,ease-out,ease-in-out)、
  div { transition: width 2s, transform 2s ; width:200px;}
  div:hover { width:400px; transform: rotateX(30deg);}
2.transform：通过css转换能够对元素进行移动、缩放、旋转、拉伸、拉长。
  transform-origin：允许你改变被转换元素的位置。
  2D转换：translate(x,y),scale(x,y),rotate(10deg),skew(x,y),matrix()
  3D转换：translate3d(x,y,z),scale3d(x,y,z),rotate3d(x,y,z),
          transform-style[规定如何在 3D 空间中呈现被嵌套的元素：flat子元素不保留其3d位置,preserve-3d子元素保留其3d位置]
          perspective[规定3d元素的透视效果：number元素距离视图的距离]
3.animation：让元素从一种样式变为另一种样式的效果。
  @keyframes my-name{
   0% {background:red}
   100% {background:green}
   }
   div{
   animation: my-name 5s;
   }
   animation-duration、animation-timing-function、animation-delay、
   animation-iteration-count(规定动画被播放的次数)、
   animation-direction(是否在下一周期逆向播放：normal[一轮动画结束之后仍正向播放],alternate[逆向播放])、
   animation-play-state(规定动画是否正在运行或暂停：running，paused)、
   animation-fill-mode(规定对象动画时间之外的状态：none，
                                                   forwards[动画结束之后保持最后一个属性值]，
                                                   backwards[动画开始显示之前使用第一个属性值]，
                                                   both[前后填充模式同时应用])
*/

/*
Formatting context:
 是 W3C CSS2.1 规范中的一个概念。它是页面中的一块渲染区域，并且有一套渲染规则，它决定了其子元素将如何定位，以及和其他元素的关系和相互作用。
 最常见的 Formatting context 有 Block fomatting context (简称BFC)和 Inline formatting context (简称IFC)。
 BFC: "块级格式化上下文"。
     https://developer.mozilla.org/zh-CN/docs/Web/Guide/CSS/Block_formatting_context
     https://juejin.im/post/5909db2fda2f60005d2093db#heading-0
     它是一个独立的渲染区域，只有Block box参与， 它规定了内部的Block Box如何布局，并且与这个区域外部毫不相干。
     如何生成：满足一下之一即可
         根元素
         float的值不为none
         overflow的值不为visible
         display的值为inline-block、table-cell、table-caption、flow-root
         position的值为absolute或fixed
     布局规则:
       内部的box会在垂直方向上逐个放置
       box垂直方向的距离由margin决定，属于同一个BFC的两个相邻的box的margin会发生重叠
       每个元素的margin box 的左边，与包含快的左边相接触，即使存在浮动也是如此
       BFC区域不会与float box重叠
       BFC级是页面上的一个独立的容器，容器里面的子元素不会影响到外面的元素
       计算BFC的高度时，浮动元素也参与计算
     应用：
       防止margin重叠，外边距折叠（Margin collapsing）也只会发生在属于同一BFC的块级元素之间　　　
       浮动定位和清除浮动时只会应用于同一个BFC内的元素。浮动不会影响其它BFC中元素的布局，而清除浮动只能清除同一BFC中在它前面的元素的浮动。
       自适应多兰布局
*/

/*
flex布局：
http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html
http://www.ruanyifeng.com/blog/2015/07/flex-examples.html
容器属性：
  flex-direction: row|row-reverse|column|column-reverse
  flex-wrap: nowrap|wrap|wrap-reverse
  flex-flow: row nowrap (flex-direction和flex-wrap的缩写)
  justify-content: flex-start|flex-end|center|space-between|space-around
  align-item: flex-start|flex-end|center|baseline|stretch
  align-content: 定义了多根轴线的对其方式，如果只有一根轴线则该属性将不起作用。
                 flex-start|flex-end|center|space-between|space-around|stretch
项目属性：
  order: 定义项目的排列顺序，默认为0。数值越小，越靠前。
  flex-grow: 定义项目的放大比例，默认为0，即 即使有剩余空间，也不进行放大。
  flex-shrink: 定义项目的缩小比例，默认为1，即 若剩余空间不足，则进行缩小。
  align-self: 允许单个项目有与其他项目不同的对其方式。
              flex-start|flex-end|center|baseline|stretch
  flex-basis: 定义了在分配多余空间前，项目在主轴上所占据的空间，浏览器根据这个属性判断主轴是否有剩余空间。
  flex: 1 1 auto(flex-grow、flex-shrink、flex-basis的缩写)
*/

/*
position布局：
  static：指定元素的位置为文档流中的正常布局位置（top,right,bottom,left,z-index无效）
  relative：相对于元素在正常文档流中的位置进行偏移定位（会为元素在文档流中的原本位置留下空白）
  absolute：相对于最近的非static定位祖先元素进行偏移定位（不为元素预留空间）
  fixed：相对于屏幕视口的位置进行偏移定位（不为元素预留空间）
  sticky：可以被认为是相对定位和固定定位的混合，元素在跨越特定的阈值前为相对定位，之后为固定定位。
  注：
    若被绝对定位的元素其height（width）被设定为auto,可以同时指定top和bottom（left和right）来填充可用的垂直(水平)空间,
    若height(width)不为auto,可以同时指定top和bottom（left和right）来实现垂直居中（水平居中）。
*/

/*
grid布局：
  是CSS中最强大的布局系统。 这是一个二维系统，这意味着它可以同时处理列和行，不像 flexbox 那样主要是一维系统。
你可以通过将CSS规则应用于父元素和该元素的子元素，来使用网格布局。
http://www.ruanyifeng.com/blog/2019/03/grid-layout-tutorial.html
  1.“fr”单位允许您将轨道大小设置为网格容器自由空间的一部分。自由空间是在排除所有不可伸缩的 grid item 之后计算得到的。
  父元素：
    justify-items沿着行轴对齐网格内的内容（与之对应的是 align-items, 即沿着列轴对齐）。
    justify-content设置网格容器内的网格的对齐方式。 此属性沿着行轴对齐网格（与之对应的是 align-content, 沿着列轴对齐）。
    grid-auto-columns / grid-auto-rows指定自动生成的网格轨道（又名隐式网格轨道）的大小。
    grid-auto-flow如果你存在没有显示指明放置在网格上的 grid item，则自动放置算法会自动放置这些项目。
  子元素：
    justify-self沿着行轴对齐grid item 里的内容（与之对应的是 align-self, 即沿列轴对齐）
  而该属性则用于控制自动布局算法的工作方式。
*/

html, body {
    height: 100%;
    margin: 0px;
}

/*
品字布局
.container {
    height: 100%;
}

.top, .bottom {
    height: 50%;
}

.top {
    background: red;
}

.bottom {
    display: flex;
}

.bottom > div {
    flex-grow: 1;
}

.left {
    background: green;
}

.right {
    background: blue;
}*/


/*sticky定位
设定的阈值是 top:0 ，这个值表示当元素距离页面视口（Viewport，也就是fixed定位的参照）顶部距离大于 0px 时，元素以 relative 定位表现，
而当元素距离页面视口小于 0px 时，元素表现为 fixed 定位，也就会固定在顶部。

.container{
    background: red;
    height: 100px;
    overflow: auto;
}
nav{
    position: sticky;
    top: 0px;
    height: 50px;
    background: yellow;
}
.sticky{
    height: 50px;
    background: blue;
    margin-bottom: 10px;
}
*/

/*
网格布局
*/
.container{
    display: grid;
    /*display:inline-grid;*/
    height: 100%;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    /*grid-template-rows: repeat(3,33.3%);
    grid-template-columns: repeat(3,33.3%);*/
    /*grid-template-rows: repeat(auto-fill,100px);
    grid-template-columns: repeat(auto-fill,200px);*/
    /*grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;*/
    grid-template-areas: 'a a a' 'b c c' 'b c c' 'd d d';
    /*grid-row-gap:10px;
    grid-column-gap:10px;*/
    grid-auto-flow:row;
    /*单元格内容的水平(垂直)位置*/
    /*justify-items: center;
    align-items: center;*/
    /*整个内容区域在容器里面的水平(垂直)位置*/
    /*justify-content: center;
    align-content: center;*/
}
.container div:nth-of-type(3n){
    background: green;
}
.container div:nth-of-type(3n+1){
    background: red;
}
.container div:nth-of-type(3n+2){
    background: yellow;
}

.header{
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    grid-area:a;
    /*单元格内容的水平(垂直)位置[和justify-items,align-items一样]*/
   /* justify-self: center;
    align-self: center;*/
}
.left{
    /*grid-row-start: 2;
    grid-row-end: 4;*/
    grid-area: b;
}
.main{
   /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;*/
    /*
     grid-column: 2 / 4;
     grid-row: 2 / 4;
    */
    grid-area: c;
}
.footer{
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    grid-area: d;
}


/*
旋转立方体
*/
@keyframes spin {
    from {
        transform: rotateX(0deg)  rotateY(0deg);
    }
    to {
        transform: rotateX(360deg)  rotateY(360deg);
    }
}

.content{
    perspective: 1000px;
    perspective-origin: 50% 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    position: relative;
    height: 400px;
    width: 400px;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}
.cube> div{
    width: 200px;
    height: 200px;
    position: absolute;
}
.front{
    background: red;
    transform: translateZ(100px);
}
.back{
    background: green;
    transform: translateZ(-100px) rotateY(180deg);
}
.left{
    background: yellow;
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background: lightgray;
    transform: rotateY(90deg) translateZ(100px);
}
.top{
    background: blue;
    transform: rotateX(90deg) translateZ(100px);
}
.bottom{
    background: pink;
    transform: rotateX(-90deg) translateZ(100px);
}



